{% extends 'base1.html' %}

{% block content %}
<div class="container">
 <table class="table table-striped">
         <thead>
            <tr>
               <th>ID</th>
               <th>Username</th>
               <th>Password</th>

            </tr>
         </thead>

         <tbody>
            {% for user in users %}
               <tr>
                  <td>{{ user.id }}</td>
                  <td>{{ user.username }}</td>
                  <td>{{ user.password }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
</div>
{% endblock %}